{namespace diem.errors}

/**
 * @param username
 */
{template .user_not_found}
    {call diem.header data="all" /}
    No such user found: {$username}
    {call diem.footer data="all" /}
{/template}

/**
 * @param project
 */
{template .project_not_found}
    {call diem.header data="all" /}
    Project {$project} not found.
    {call diem.footer data="all" /}
{/template}