{namespace diem.user}

/**
 * @param username
 */
{template .main}
    {call diem.header data="all" /}
    {if $username}
        User: {$username}
    {else}
        No such user found.
    {/if}
    {call diem.footer data="all" /}
{/template}
