div {
  background-color: #F8F6EC;
  color: #41423D;
}
app-sidebar {
  background-color: #6FC0AD;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 320px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 80px;
  left: 0px;
  overflow-x: hidden;
  padding-top: 20px;
}