<h2>Project</h2>
<ul>
  <li>Checkpoint</li>
  <li>Instructions</li>
  <li>Notions</li>
  <li>Properties</li>
</ul>
<h2>Piece</h2>
<ul>
  <li (click)="setTool('addPiece')">Add</li>
  <li (click)="setTool('removePiece')">Remove</li>
  <li (click)="setTool('movePiece')">Move</li>
  <li>Rotate</li>
  <li>Fabric</li>
  <li>Grainline</li>
</ul>
<h2>Shape</h2>
<ul>
  <li>Add anchor</li>
  <li>Remove anchor</li>
  <li>Edit anchor</li>
  <li>Cut</li>
  <li>Fold</li>
  <li>Seam allowance</li>
</ul>
<h2>View</h2>
<ul>
  <li>Zoom</li>
  <li>Background</li>
  <li>Ruler</li>
  <li>Preview</li>
</ul>
