<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC "-//Oracle Corporation//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
  <!-- See https://github.com/objectify/objectify/wiki/Setup#enable-objectifyfilter-for-your-requests,
  required to clean up thread-local transaction contexts. -->
  <filter>
    <filter-name>ObjectifyFilter</filter-name>
    <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ObjectifyFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>

  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>com.fabdm.MainServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Editor</servlet-name>
    <servlet-class>com.fabdm.editor.EditorServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>User</servlet-name>
    <servlet-class>com.fabdm.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SetUsername</servlet-name>
    <servlet-class>com.fabdm.account.SetUsernameServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewProject</servlet-name>
    <servlet-class>com.fabdm.project.NewProjectServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Editor</servlet-name>
    <url-pattern>/project/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/user/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetUsername</servlet-name>
    <url-pattern>/+/set-username</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewProject</servlet-name>
    <url-pattern>/+/new</url-pattern>
  </servlet-mapping>

</web-app>
